*{

    margin: 0;
    padding: 0;
}

body{

    font-family: 'Lato', sans-serif;
    
    
}
/* This is header section */


header{

    background: rgba(229, 84, 115, 0.10);
}

.banner-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 50px 0px 0px 0px;
}


.banner-container img{

    width: auto;
    height: 630px;


}

.banner-title-text{

    color: #272727;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    
    
    
}

.banner-details{

    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px; 

    margin: 20px 0;
}

.primary-btn{
    width: 140px;
    height: 58px;
    padding: 20px 43px;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    color: #fff;

}

/* Feature Flower Section */

main .screen-size{

    max-width: 1060px;
    margin: 120px auto 0 auto;

}

.feature-container{

    display: flex;
    justify-content: space-between;
}
.feature-title{

    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: normal;
}

.feature-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin: 20px 0 48px 0 ;

}

.feature-box-1{
    position: relative;
    width: 330px;
    height: 410px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;

}


.feature-image-1{
    width: auto;
    height: 300px;
    
    position: absolute;
    bottom: 0;
    left: 60px;

}

.feature-image-2{
    width: auto;
    height: 300px;
    
    position: absolute;
    bottom: 30px;
    left: 31px;

}
#box-2{
    background: rgba(5, 151, 160, 0.15);

}

.feature-image-3{
    width: auto;
    height: 300px;
    
    position: absolute;
    bottom: 0;
    left: 80px;

}

#box-3{
    background: rgba(71, 125, 17, 0.15);
    
}

.screen-size .flower-details{
    display: flex;
    justify-content: space-around;
    
}
.screen-size .flower-details li{

    list-style: none;
    
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    margin: 10px 0 ; 
    
}
.screen-size .flower-details li a{
    color: #272727;
}



/* This is sales service section */
.shop-seals{

    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 220px;
}
.shop-support-text{

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
}

.shop-seals{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.shop-support img{

    width: 65px;
    height: auto;
    
    
}
.shop-support .salesman{
    margin-left: 85px;
}
.shop-support .freshflowers{
    margin-left: 85px;
}
.shop-support .support{
    margin-left: 35px;
}
.shop-support-text{

    margin: 13px 0;
}

/* Hot deals section */
.hot-deals{

    background: rgba(229, 84, 115, 0.05);
    height: 550px;
    margin-top: 120px ;

    
}

.hot-deals-text{
    text-align: center;
    color: #272727;
    
    font-size: 25px;
    font-weight: 800;
    line-height: normal;

}

.hot-deals-title > span{
    color: #E55473;
    
    font-size: 40px;
    
    font-weight: 800;
    

}

.hot-deals-container{

    display: flex;
    justify-content: center;
    gap: 140px;
    align-items: center;
    padding: 80px 0;

}

/* This for Instagram Section */


.instagram-image img{

    margin: 0 11px 0 19px;
    
    
    width: 230px;
    height: auto;
    
}

.latestdeal-container{
    
    height: 445px;

    

    background: url('../Flower Asset/Rectangle 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
}

.latest-deal-text{

    
   
    padding-top: 100px;

}

.latest-deal-form{

    margin: 60px auto 0 200px;
}

.latest-deal-form input{
    width: 550px;
    height: 58px;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
   

}
.latest-deal-form input::placeholder{

    padding-left: 15px;
}

/* This section for footer */

footer{
    margin-top: 100px;

    background: #111010;
    height: 400px;

}
.footer-container{

    max-width: 1060px;
    margin: 0 auto 0 auto;
}


.footer-title{
    color: #fff;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

}
.footer-title span{
    color: #E55473;
    
}


.footer-details{
    color: rgba(255, 255, 255, 0.90);
    padding: 15px 0 25px 0;
    text-align: center;
    font-size: 14px;
    
    font-weight: 400;
    line-height: 30px; 

}
.copyright{

    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 13px;
    font-weight: 400;

}


/* Footer Section */


.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-content{


    color: #474747;
    font-size: 15px;

    font-weight: 400;
    line-height: 28px;
    margin: 30px 0;
}


/* .form-input{

    width: 50%;
} */
.form-input input, textarea{

    display: block;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
    background:  #FFF;
    margin-bottom: 30px;

    width: 200px;
}

#footer-cotitle{

    margin-top: 25px;
    margin-bottom: 18px;
    text-align: left;
}

.submit-btn{
    width: 100px;
    height: 50px;
    
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    color: #fff;

}
/* This is nav mar section */

/* nav{

    width: 1060px;
} */
.nav-container{
    display: flex;
    justify-content: space-around;


}
.logo-img{

    width: 150px;
    height: auto;
}
.primary-color{

    color: #FD6E0A;

}
.nav-container ul {
    display: flex;
    align-items: center ;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
}
nav ul li a{

    text-decoration: none;
    color: #474747;
    padding: 8px;

}

.primary-btn-color{

    width: 140px;
    height: 52px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

    border-radius: 5px;
    background: #E55473;
    color: white;
    border: none;
    padding: 13px 31px;;
}

nav ul li :hover{

    background-color: #090979;
    color: #fff;
}
